<div class="app-container" [class.is-mobile]="mobileQuery.matches">
    <mat-toolbar class="toolbar">
        <div class="menu">
            <button mat-icon-button (click)="snav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <img src="logo.jpg" alt="sQeeZ-Scripting-Language">
        </div>
        <div class="actions">
            <button mat-icon-button [matMenuTriggerFor]="menu" class="language-trigger">
                <span [class]="'fi fi-' + currentLanguage.id"></span>
            </button>
            <mat-menu #menu="matMenu">
                @for (lang of languages; track lang) {
                    @if (lang.id !== currentLanguage.id) {
                        <button class="language-select" (click)="setLanguage(lang)" mat-menu-item>
                            <span [class]="'fi fi-' + lang.id"></span>
                            <span>{{lang.name}}</span>
                        </button>
                    }
                }
            </mat-menu>
            <button mat-icon-button (click)="toggleTheme()" [matTooltip]="currentTheme === 'light' ? translate('APP.DARK_MODE') : translate('APP.LIGHT_MODE')">
                <mat-icon> {{ currentTheme === 'light' ? 'light_mode' : 'dark_mode' }} </mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                @for (nav of fillerNav; track nav) {
                    <a mat-list-item routerLink=".">{{nav}}</a>
                }
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>