.app-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.is-mobile .toolbar {
    position: fixed;
    z-index: 2;
}
  
.sidenav-container {
    flex: 1;
}
  
.is-mobile .sidenav-container {
    flex: 1 0 auto;
}

.toolbar {
    display: flex;
    justify-content: space-between;
}

.menu,
.actions {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 0.5rem;

    img {
        height: 75%;
        width: auto;
        border-radius: 5px;
    }
}

.language-trigger .fi {
    width: 24px;
    transform: translateY(-4px);
}

.language-select .fi {
    width: 24px;
    transform: translateY(-2px);
}

.sidenav-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

router-outlet {
    flex: 1;
    display: flex;
}

.controls {
    display: flex;
    justify-content: space-between;
    width: 100%;

    button {
        width: 50%;
        border-radius: 0;
    }
}

:host-context(.dark-theme) {
    mat-toolbar {
        background-color: #424242;
        color: #FFFFFF;
    }
    
    mat-sidenav-container {
        background-color: #303030;
    }

    mat-sidenav {
        background-color: #383838; /* Darker grey for sidenav */
        color: #FFFFFF;
    }
}

:host-context(.light-theme) {
    button {
        color: #333333;
    }

    button:hover {
        background-color: #FFFFFF;
    }

    mat-toolbar {
        background-color: #F5F5F5;
        color: #333333;
    }
    
    mat-sidenav-container {
        background-color: #FFFFFF;
    }

    mat-sidenav {
        background-color: #E0E0E0; /* Lighter grey for sidenav */
        color: #333333;
    }
}
