<div class="documentation-container">
    <div class="sQeeZ">
        <img src="logo.jpg" alt="sQeeZ-Scripting-Language" class="logo">
        <img src="slogan.png" alt="Slogan" class="slogan">
    </div>
    <p class="abstract">sQeeZ is a modern scripting language designed for users who prioritize simplicity, power, and flexibility in their coding projects. Its concise and efficient syntax enables developers to create clean, readable code that meets their specific needs. The language streamlines the development process, allowing users to implement complex functionalities with greater efficiency.</p>

    <h2 class="heading">🔑 Key Components</h2>

    <h3 class="sub-heading">🔤 Lexer</h3>
    <p>The <strong>Lexer</strong> is the initial component of the sQeeZ engine, responsible for transforming raw input into a sequence of meaningful <strong>Tokens</strong>. These tokens serve as the basis for how our language is structured, enabling the parser to interpret syntax and semantics effectively. By understanding the input, the lexer ensures that sQeeZ maintains its simplicity and flexibility.</p>
    
    <h3 class="sub-heading">🛠️ Parser</h3>
    <p>The <strong>Parser</strong> builds on the Lexer's output to construct an <strong>Abstract Syntax Tree (AST)</strong>. This tree is fundamental to understanding the hierarchical structure of the code, laying the groundwork for efficient execution and manipulation of the code's logic.</p>
    
    <h3 class="sub-heading">⚡ Interpreter</h3>
    <p>The <strong>Interpreter</strong> is the key to making your code come alive! By executing the parsed AST, it makes sQeeZ a dynamic tool that can be used for both quick scripting tasks and complex applications. Get immediate feedback and powerful functionality at your fingertips!</p>
    
    <h3 class="sub-heading">🌐 Language Server</h3>
    <p>Our comprehensive <strong>Language Server</strong> optimizes your coding experience in IDEs like VSCode. With features such as syntax highlighting, auto-completion, and error checking, you'll have all the tools you need to code efficiently and effectively in sQeeZ.</p>

    <mat-divider></mat-divider>
    <div class="spacer"></div>
    <p>Feel free to explore each component further to understand their roles and how they complement each other in the sQeeZ Scripting Language! 🔍</p>
    <ul class="key-components">
        <li>🔤 <a href="https://github.com/sqeez-scripting-language/lexer/">Lexer</a></li>
        <li>🛠️ <a href="https://github.com/sqeez-scripting-language/parser/">Parser</a></li>
        <li>⚡ <a href="https://github.com/sqeez-scripting-language/interpreter/">Interpreter</a></li>
        <li>🌐 <a href="https://github.com/sqeez-scripting-language/language-server/">Language Server</a></li>
    </ul>

    <h2 class="heading">📚 Documentation</h2>
    <p>Explore this comprehensive documentation to get started with sQeeZ! Whether you are new to the language or looking to gain a deeper understanding of its features, you will find valuable resources covering:</p>

    <ul class="documentation">
        <li>🚀 <strong>Getting Started</strong>: Learn how to set up your environment and write your first sQeeZ code.</li>
        <li>✨ <strong>Basic Functionality</strong>: Discover the core features and capabilities of the language.</li>
        <li>📝 <strong>Syntax</strong>: Understand the syntax rules that define how to structure your code effectively.</li>
        <li>🔑 <strong>Key Components</strong>:
            <ul>
                <li>🔤 <strong>Lexer</strong>: Learn how to utilize the lexer to break down input into tokens.</li>
                <li>🛠️ <strong>Parser</strong>: Understand how the parser constructs the Abstract Syntax Tree (AST) from tokens.</li>
                <li>⚡ <strong>Interpreter</strong>: Discover how the interpreter executes your sQeeZ code.</li>
            </ul>
        </li>
        <li>📖 <strong>Example Code Snippets</strong>: Explore practical examples demonstrating the language's features and syntax in action.</li>
        <li>🚨 <strong>Error Messages</strong>: Familiarize yourself with common error messages and their meanings to help debug your code.</li>
    </ul>      
</div>