:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.sQeeZ {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .logo {
        width: 30%;
        height: auto;
    }
    
    .slogan {
        width: 75%;
        height: auto;
    }
}

.abstract {
    text-align: center;
}