<div class="documentation-container">
    <div class="sQeeZ">
        <img src="logo.jpg" alt="sQeeZ-Scripting-Language" class="logo">
        <img src="slogan.png" alt="Slogan" class="slogan">
    </div>
    <p class="abstract">{{ 'MAIN.ABSTRACT' | translate }}</p>
    <h2 class="heading">🔑 {{ 'MAIN.KEY_COMPONENTS' | translate }}</h2>
    <h3 class="sub-heading">🔤 {{ 'MAIN.LEXER' | translate }}</h3>
    <p>{{ 'MAIN.LEXER_DESCRIPTION' | translate }}</p>
    <h3 class="sub-heading">🛠️ {{ 'MAIN.PARSER' | translate }}</h3>
    <p>{{ 'MAIN.PARSER_DESCRIPTION' | translate }}</p>
    <h3 class="sub-heading">⚡ {{ 'MAIN.INTERPRETER' | translate }}</h3>
    <p>{{ 'MAIN.INTERPRETER_DESCRIPTION' | translate }}</p>
    <h3 class="sub-heading">🌐 {{ 'MAIN.LANGUAGE_SERVER' | translate }}</h3>
    <p>{{ 'MAIN.LANGUAGE_SERVER_DESCRIPTION' | translate }}</p>
    <mat-divider></mat-divider>
    <div class="spacer"></div>
    <p>{{ 'MAIN.KEY_COMPONENTS_DESCRIPTION' | translate }} 🔍</p>
    <ul class="key-components">
        <li>🔤 <a href="https://github.com/sqeez-scripting-language/lexer/">{{ 'MAIN.LEXER' | translate }}</a></li>
        <li>🛠️ <a href="https://github.com/sqeez-scripting-language/parser/">{{ 'MAIN.PARSER' | translate }}</a></li>
        <li>⚡ <a href="https://github.com/sqeez-scripting-language/interpreter/">{{ 'MAIN.INTERPRETER' | translate }}</a></li>
        <li>🌐 <a href="https://github.com/sqeez-scripting-language/language-server/">{{ 'MAIN.LANGUAGE_SERVER' | translate }}</a></li>
    </ul>
    <h2 class="heading">📚 {{ 'MAIN.DOCUMENTATION' | translate }}</h2>
    <p>{{ 'MAIN.DOCUMENTATION_DESCRIPTION' | translate }}</p>
    <ul class="documentation">
        <li>🚀 <strong>{{ 'MAIN.GETTING_STARTED' | translate }}:</strong><br>{{ 'MAIN.GETTING_STARTED_DESCRIPTION' | translate }}</li>
        <li>✨ <strong>{{ 'MAIN.BASIC_FUNCTIONALITY' | translate }}:</strong><br>{{ 'MAIN.BASIC_FUNCTIONALITY_DESCRIPTION' | translate }}</li>
        <li>📝 <strong>{{ 'MAIN.SYNTAX' | translate }}:</strong><br>{{ 'MAIN.SYNTAX_DESCRIPTION' | translate }}</li>
        <li>🔑 <strong>{{ 'MAIN.KEY_COMPONENTS' | translate }}:</strong>
            <ul>
                <li>🔤 <strong>{{ 'MAIN.LEXER' | translate }}:</strong><br>{{ 'MAIN.LEXER_SHORT_DESCRIPTION' | translate }}</li>
                <li>🛠️ <strong>{{ 'MAIN.PARSER' | translate }}:</strong><br>{{ 'MAIN.PARSER_SHORT_DESCRIPTION' | translate }}</li>
                <li>⚡ <strong>{{ 'MAIN.INTERPRETER' | translate }}:</strong><br>{{ 'MAIN.INTERPRETER_SHORT_DESCRIPTION' | translate }}</li>
            </ul>
        </li>
        <li>📖 <strong>{{ 'MAIN.EXAMPLE_CODE_SNIPPETS' | translate }}:</strong><br>{{ 'MAIN.EXAMPLE_CODE_SNIPPETS_DESCRIPTION' | translate }}</li>
        <li>🚨 <strong>{{ 'MAIN.ERROR_MESSAGES' | translate }}:</strong><br>{{ 'MAIN.ERROR_MESSAGES_DESCRIPTION' | translate }}</li>
    </ul>     
    <h2 class="heading">🌟 {{ 'MAIN.PLAYGROUND' | translate }}</h2>
    <p>🚀 <strong>{{ 'MAIN.PLAYGROUND_DESCRIPTION_STRONG' | translate }}</strong> {{ 'MAIN.PLAYGROUND_DESCRIPTION' | translate }}</p>
    <h3 class="sub-heading">🎨 {{ 'MAIN.FEATURES' | translate }}:</h3>
    <ul>
        <li><strong>{{ 'MAIN.INTERACTIVE_CODING_ENVIRONMENT' | translate }}:</strong><br>{{ 'MAIN.INTERACTIVE_CODING_ENVIRONMENT_DESCRIPTION' | translate }}</li>
        <li><strong>{{ 'MAIN.CODE_SNIPPETS' | translate }}:</strong><br>{{ 'MAIN.CODE_SNIPPETS_DESCRIPTION' | translate }}</li>
    </ul>
    <div>👉 <a href="https://sqeez-scripting-language.github.io/playground/" target="_blank">{{ 'MAIN.PLAYGROUND_LINK' | translate }}</a></div>
    <h2 class="heading">🤝 {{ 'MAIN.CONTRIBUTE' | translate }}</h2>
    <p>{{ 'MAIN.CONTRIBUTE_DESCRIPTION' | translate }}:</p>
    <h3 class="sub-heading">🛠️ {{ 'MAIN.HOW_TO_CONTRIBUTE' | translate }}:</h3>
    <ol>
        <li>🎟️ <strong>{{ 'MAIN.CREATE_ISSUE' | translate }}:</strong><br>{{ 'MAIN.CREATE_ISSUE_DESCRIPTION' | translate }}</li>
        <li>📥 <strong>{{ 'MAIN.CLONE_REPOSITORY' | translate }}:</strong><br>{{ 'MAIN.CLONE_REPOSITORY_DESCRIPTION' | translate }}</li>
        <li>🌿 <strong>{{ 'MAIN.CREATE_BRANCH' | translate }}:</strong><br>{{ 'MAIN.CREATE_BRANCH_DESCRIPTION' | translate }}</li>
        <li>📝 <strong>{{ 'MAIN.COMMIT_MESSAGES' | translate }}:</strong><br>{{ 'MAIN.COMMIT_MESSAGES_DESCRIPTION' | translate }}</li>
        <li>✨ <strong>{{ 'MAIN.IDEAS' | translate }}:</strong><br>{{ 'MAIN.IDEAS_DESCRIPTION' | translate }}</li>
        <li>🔍 <strong>{{ 'MAIN.TESTS' | translate }}:</strong><br>{{ 'MAIN.TESTS_DESCRIPTION' | translate }}</li>
        <li>📖 <strong>{{ 'MAIN.DOCUMENTATE' | translate }}:</strong><br>{{ 'MAIN.DOCUMENTATE_DESCRIPTION' | translate }}</li>
        <li>📩 <strong>{{ 'MAIN.PULL_REQUEST' | translate }}:</strong><br>{{ 'MAIN.PULL_REQUEST_DESCRIPTION' | translate }}</li>
        <li>🌟 <strong>{{ 'MAIN.COMMUNITY' | translate }}:</strong><br>{{ 'MAIN.COMMUNITY_DESCRIPTION' | translate }}</li>
    </ol>
    <a href="https://github.com/orgs/sQeeZ-scripting-language/repositories">{{ 'MAIN.CONTRIBUTION_LINK' | translate }}</a>🚀🚀🚀
</div>